
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>This is the index of the Customer View</h2>



<li>@Html.ActionLink("QueryCustomers", "QueryCustomers", "Customer")</li>


<li>@Html.ActionLink("Home", "Index", "Home")</li>
